.NavBar {
  text-align: center;
}

.Home {
  text-align: center;
}

#AceEditor {
  height: 600px;
  width: ;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
