.NavBar {
  text-align: center;
}

.Home {
  text-align: center;
}

.ChatBox {
  position: absolute;
  width: 40%;
  right: 0px;
}

.ace_content    {
  width: 800px;
}

.ace_editor {
  height: 600px;
  width: 100%;
}

.ace_scroller {
  width: 100%;
}

.ace_text_input {
  height: 600px;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.scroller {
  margin: 0 auto;
  overflow: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
