body {
  /*background-color: black !important;*/
  background-image: url("./blueleaf.jpg") !important;
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #FEF7DB !important;
  /*background-color: white;*/
  font-color: white !important;
}

. {
  font-family: monospace;
}

.Editor {
  background-color: #FEF7DB !important;
}

.ace_editor {
  height: 100%;
  width: 100%;
}

.newEditor {
  background-color: #FEF7DB !important;
}

.about ul, .about ul li {
  background-color: #FEF7DB !important;
}

/*.column {
  background-image: url("./blueleaf.jpg") !important;
}*/

/* NavBar items... minus logout and whitespace */
.navbar a, .navbar a.item, .navbar .menu {
  background-color: #FEF7DB;
  font-color: black !important;
}

.homepage {
  background-image: url("./blueleaf.jpg") !important;
}

.about {
  background-image: url("./blueleaf.jpg") !important;
}

.navbar .item {
  background-color: #FEF7DB;
  font-color: white;
}

.header, .button, .form .input, .description, .navbar, .item, .column, .input, .ui.fluid.input input, .ui.fluid.input, .ui.button, .ui.segment.options, .selection.dropdown, div.ui.label, button.ui.button, a.item, ui.navbar.menu *, menu.item, div.ui.navbar.menu, ui.navbar.container, div.ui.input input, div.ui.card, div.ui.segment.chatbox, div.ui.container.messages {
  font-family: monospace !important;
  background-color: #FEF7DB;
}

.messages {
  height: 300px;
  background-color: white;
  font-color: #000000;
}

.input {
  font-family: monospace;
  background-color: white;
}

.grid {
  height: 100%;
  background-color: white;
}
