body {
  /*background-color: black !important;*/
  background-image: url("./blueleaf.jpg") !important;
  padding: 0;
  font-family: monospace;
  background-color: #FEF7DB !important;
  /*background-color: white;*/
  font-color: white !important;
}

. {
  font-family: monospace;
}

.Editor {
  background-color: #FEF7DB !important;
}

.ace_editor {
  height: 100%;
  width: 100%;
}

.newEditor {
  background-color: #FEF7DB !important;
}

.about ul, .about ul li {
  background-color: #FEF7DB !important;
}

/*.column {
  background-image: url("./blueleaf.jpg") !important;
}*/

/* NavBar items... minus logout and whitespace */
.navbar a, .navbar a.item, .navbar .menu {
  background-color: #FEF7DB;
  font-color: black !important;
}

.homepage {
  background-image: url("./blueleaf.jpg") !important;
}

.navbar .item {
  background-color: #FEF7DB;
  font-color: white;
}

.header, .button, .form .input, .description, .navbar, .item, .column, .input, .ui.fluid.input input, .ui.fluid.input, .ui.button, .ui.segment.options, .selection.dropdown, div.ui.label, button.ui.button, a.item, ui.navbar.menu *, menu.item, div.ui.navbar.menu, ui.navbar.container, form.ui.form div.ui.input input, div.ui.card, div.ui.segment.chatbox, div.ui.container.messages, div.row, div.ui.button.fluid.labeled.selection.dropdown.icon, div.ui.seven.cards div.ui.card, .about, div.ui.container.about, .ui.header {
  font-family: monospace !important;
  background-color: #FEF7DB;
}

div#about.ui.container.about {
  position: relative;
  top: 40px;
  font-family: monospace !important;
  background-color: #FEF7DB !important;
}

div#login {
  position: relative;
  top: 100px;
  font-family: monospace !important;
  background-color: #FEF7DB !important;
}

form#login.loginform div.field div.ui.input input {
  background-color: grey;
}

form#signup div.field div.ui.input input {
  background-color: grey;
}

div#signup {
  position: relative;
  top: 100px;
  font-family: monospace !important;
  background-color: #FEF7DB !important;
}

button#loginbutton, button#signupbutton {
  position: relative;
  left: 45%;
}

i.github.large.icon.middle.aligned {

}

#deletebutton {
  font-color: black;
  position: relative;
  right: 50px;
}

#deletebutton:hover, #deletepartnerbutton:hover {
  background-color: #940025;
  color: #FEF7DB;
}

/* DEE1CD */

.messages {
  height: 300px;
  background-color: white;
  font-color: #000000;
}

.input {
  font-family: monospace;
  background-color: white;
}

.grid {
  height: 100%;
  background-color: white;
}
