body {
  /*background-color: black !important;*/
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: white;
  /*background-color: white;*/
  font-color: white !important;
}

. {
  font-family: monospace;
  /*background-color: black;*/
}

.Editor {
  background-color: white;
}

.ace_editor {
  height: 100%;
  width: 100%;
}

.newEditor {
  background-color: white !important;
}

.column {
  background-color: white !important;
}

.navbar .menu .item {
  background-color: black;
  font-color: white !important;
}

.homepage {
  background-color: white;
}

.navbar .item {
  background-color: black;
  font-color: white;
}

.header, .button, .form .input, .description, .navbar, .item {
  font-family: monospace !important;
  background-color: white;
}

.messages {
  height: 300px;
  background-color: white;
  font-color: #000000;
}

.input {
  font-family: monospace;
  background-color: white;
}

.grid {
  height: 100%;
  background-color: white;
}
