body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #003333;
  font-color: white;
}

* {
  font-family: monospace;
}

.Editor {
  background-color: #003333;
}

.ace_editor {
  height: 100%;
  width: 100%;
}

.newEditor {
  background-color: #003333;
}

.navbar {
  background-color: white;
}

.homepage {
  background-color: #003333;
}

header {
  font-family: monospace;
  background-color: #003333;
}

h {
  font-family: monospace;
  background-color: #003333;
}

.messages {
  height: 300px;
  background-color: #003333;
  font-color: #000000;
}

.input {
  font-family: monospace;
  background-color: #003333;
}

.grid {
  height: 100%;
  background-color: #003333;
}
